apiVersion: v1
baseDomain: PUT_YOUR_DNS_DOMAIN_HERE
compute:
- name: worker
  hyperthreading: Enabled
  replicas: 3
controlPlane:
  name: master
  hyperthreading: Enabled
  replicas: 3
metadata:
  name: __CLUSTER_NAME__
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16
  networkType: OpenShiftSDN
platform:
  none: {}
pullSecret: PUT_YOUR_PULL_SECRET_HERE
sshKey: |
  PUT_YOUR_SSH_PUBLIC_KEY_HERE
