apiVersion: v1
baseDomain: itix.xyz
compute:
- name: worker
  hyperthreading: Enabled
  replicas: 3
controlPlane:
  name: master
  hyperthreading: Enabled
  replicas: 3
metadata:
  name: ocp4
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16
  networkType: OpenShiftSDN
platform:
  none: {}
pullSecret: YOUR_PULL_SECRET_HERE
sshKey: |
  YOUR_SSH_PUBLIC_KEY_HERE
