export BASTION=user@bastion.host
export GANDI_KEY="123...456"
export GANDIV5_API_KEY="123...456"
export GOOGLE_CLIENT_ID="client_id"
export GOOGLE_CLIENT_SECRET="client_secret"
export LE_EMAIL="user@redhat.com"
export OCP_ADMIN="user@redhat.com"
